body{font-family: 'Times New Roman', Times, serif;}
#navbar-right{float: right;}
#navbar{background-color: #3f3430;padding: 2% 2%; position: fixed; width: 100%;z-index: 100;}
.logo{width: 70px; height: 40px;;}
#navbar a{color: white;font-size: 1em; border-radius: 4px;}
.fv{padding-top: 5.5%; border-radius: 3px; width: 100%;}
.bg-img{background-image: url("https://images.pexels.com/photos/6304/snow-nature-winter-bokeh.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
background-size: cover; min-height: 37em; position: relative;}
.container{background-color: rgba(0, 0,0, 0.5); border-radius: 30px}
.input-container{display: flex;margin: 2% 0%;}
.input-field{width: 100%;}
h2{padding-top: 4%; text-align: center;}
i{ padding: 10px;background: dodgerblue;color: white;min-width: 50px;text-align: center;}
.showpassword{ min-width: 30px;}
span{color: white;}
label {color: white; margin-left: 5%;}
button{background: dodgerblue; color:white;}
button:hover{background-color: rgb(8, 102, 8);}